<section id="testimonials" class="testimonials">
  <div
    class="background bg-img bg-fixed section-padding pb-0"
    data-background="images/banner.jpg"
  >
    <div class="container">
      <div class="row pb-1">
        <!-- Work together -->
        <div class="col-md-6 mb-30">
          <h4 class="wow" data-splitting>
            Hire me! Use the email address below.
          </h4>
          <div
            class="btn-wrap mt-30 text-left wow fadeInUp"
            data-wow-delay=".6s"
          >
            <div class="btn-link">
              <a
                href="mailto:s.jacob.flaherty@gmail.com"
                target="_blank"
                class="white"
                >s.jacob.flaherty@gmail.com</a
              >
              <span class="btn-block color3 animation-bounce"></span>
            </div>
          </div>
        </div>
        <!-- Testiominals -->
        <div class="col-md-5 offset-md-1">
          <div class="testimonials-box">
            <h5>Dad Joke of the Moment</h5>
            <div class="owl-carousel owl-theme">
              <div class="item">
                <p></p>
                <span class="quote mt-4"
                  ><img src="/images/quot.png" alt=""
                /></span>
                <!-- <div class="info">
                  <div class="author-img">
                    <img src="/images/team/1.jpg" alt="" />
                  </div>
                  <div class="cont">
                    <h6>Emily Brown</h6>
                    <span>Project Owner</span>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Clients -->
<section id="clients" class="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="owl-carousel owl-theme">
          <div class="clients-logo">
            <a href="#0"><img src="images/logos/python.svg" alt="" /></a>
          </div>
          <div class="clients-logo">
            <a href="#0"><img src="images/logos/javascript.svg" alt="" /></a>
          </div>
          <div class="clients-logo">
            <a href="#0"><img src="images/logos/css3.svg" alt="" /></a>
          </div>
          <div class="clients-logo">
            <a href="#0"><img src="images/logos/csharp.svg" alt="" /></a>
          </div>
          <div class="clients-logo">
            <a href="#0"><img src="images/logos/typescript.svg" alt="" /></a>
          </div>
          <div class="clients-logo">
            <a href="#0"><img src="images/logos/sqlquery.svg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
