<!-- Homepage Blog -->
<section id="blog" class="homepage-blog section-padding">
  <div class="container">
    <div class="row mb-45">
      <div class="col-md-12">
        <h6 class="wow" data-splitting>Recent Articles</h6>
        <h1 class="wow" data-splitting>Latest News</h1>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col-md-6">
        <div class="img left">
          <a href="post.html"><img src="images/blog/1.jpg" alt="" /></a>
        </div>
      </div>
      <div class="col-md-6 valign">
        <div class="content">
          <div class="date">
            <h1>24</h1>
            <h6>June 2023</h6>
          </div>
          <div class="cont">
            <h5>Get Started With Tiktok Ads.</h5>
            <p>
              Phasellus et lacus suscipit congue nis in the miss mine one miss
              the drana risus in tincidunt ornare.
            </p>
            <div class="btn-wrap">
              <div class="btn-link">
                <a href="post.html">Read more <i class="ti-arrow-right"></i></a>
                <span class="btn-block color1 animation-bounce"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col-md-6 order2 valign">
        <div class="content">
          <div class="date">
            <h1>27</h1>
            <h6>June 2023</h6>
          </div>
          <div class="cont">
            <h5>UX in Ecommerce – 5 things to avoid.</h5>
            <p>
              Phasellus et lacus suscipit congue nis in the miss mine one miss
              the drana risus in tincidunt ornare.
            </p>
            <div class="btn-wrap">
              <div class="btn-link">
                <a href="post.html">Read more <i class="ti-arrow-right"></i></a>
                <span class="btn-block color1 animation-bounce"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order1">
        <div class="img left">
          <a href="post.html"><img src="images/blog/5.jpg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
