<!-- Footer -->
<footer class="nilsbrown-footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Get in touch</h5>
        <p>
          <a href="mailto:s.jacob.flaherty@gmail.com" target="_blank"
            >s.jacob.flaherty@gmail.com</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h5>Location</h5>
        <p>Near Portland - Oregon</p>
      </div>
      <div class="col-md-4">
        <ul class="nilsbrown-footer-social-link">
          <li>
            <a href="index.html#"><i class="ti-dribbble"></i></a>
          </li>
          <li>
            <a href="https://github.com/sjacobflaherty" target="_blank"
              ><i class="ti-github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/s-jacob-flaherty/"
              target="_blank"
              ><i class="ti-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
