<!-- Menu -->
<div class="navbar-wrapper">
  <nav class="nilsbrown-menu" id="nilsbrown-navbar-spy">
    <div class="nilsbrown-menu-inner" id="nilsbrown-navbar">
      <ul class="list-unstyled">
        <li><a href="/index.html">Home</a></li>
        <!-- <li><a href="services.html">Services</a></li> -->
        <li><a href="/portfolio.html">Portfolio</a></li>
        <!-- <li><a href="/about.html">Resume</a></li> -->
        <!-- <li><a href="blog.html">Blog</a></li> -->
        <!-- Dropdown menu
              <li class="dropdown"> <span>Dropdown <i class="ti-angle-down"></i></span>
                  <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="#">Dropdown 1</a></li>
                      <li class="dropdown-item"><a href="#">Dropdown 2</a></li>
                      <li class="dropdown-item"><a href="#">Dropdown 3</a></li>
                  </ul>
              </li>
              -->
        <!-- <li><a href="contact.html">Contact</a></li> -->
      </ul>
    </div>
  </nav>
</div>
